@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  src: local("Roboto Condensed"),
    url(@/assets/fonts/RobotoCondensed-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  src: local("Roboto"),
    url(@/assets/fonts/Roboto-Regular.ttf) format("truetype");
}


body {
  margin: 0;
  font-family: "Roboto";
  background-color: #F5F3F3;
}
